<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Corrected.Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1358.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1449.0" targetFramework="net451" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net451" />
  <package id="Tulpep.NotificationWindow" version="1.1.38" targetFramework="net451" />
</packages>